<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOPING CARD</title>
    <link rel="stylesheet" href="shopingCard.css">
</head>

<body>
    <div class="_13-shopping-card">
        <div class="navigation">
            <div class="top-nav">
                <div class="welcome-to-clicon-online-e-commerce-store">
                    Welcome to Clicon online eCommerce store.
                </div>
                <div class="left-content">
                    <div class="follow-us">
                        <div class="follow-us2">Follow us:</div>
                        <div class="social-icon">
                            <a href="https://x.com/?lang=pt-br"><img class="twitter" src="image/twitter.png" /></a>
                            <a href="https://pt-br.facebook.com/"><img class="facebook" src="image/facebook.png" /></a>
                            <a href="https://br.pinterest.com/"><img class="pinterest" src="image/pinterest.png" /></a>
                            <a href="https://www.youtube.com/"><img class="youtube" src="image/youtube.png" /></a>
                            <a href="https://www.instagram.com/"><img class="instagram" src="image/instagram.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle-nav">
                <div class="logo">
                    <img class="icon" src="icon0.svg" />
                    <div class="clicon">CLICON</div>
                </div>
                <div class="frame-18">
                    <input class="search-for-anything" type="text" placeholder="Search for anything...">
                    <div>
                        <img src="image/lupa.png" class="pesquisa" width="20" height="20">
                    </div>
                </div>
                <div class="icons">
                    <div class="shopping-cart-simple">
                        <img src="image/carrinho.png" />
                        <div class="frame-182">
                            <div class="_2">2</div>
                        </div>
                    </div>
                    <img class="heart" src="heart0.svg" />
                    <img class="regular-user" src="regular-user0.svg" />
                </div>
            </div>
            <div class="bottom-nav">
                <div class="left-side">
                    <div class="category">
                        <div class="button">
                            <a href="#" class="label">All Category</a>
                            <img class="regular-caret-down3" src="regular-caret-down2.svg" />
                        </div>
                    </div>
                    <div class="track-order">
                        <img class="regular-map-pin-line" src="regular-map-pin-line0.svg" />
                        <a href="#" class="track-order2">Track Order</a>
                    </div>
                    <div class="compare">
                        <img class="duotone-arrows-counter-clockwise" src="duotone-arrows-counter-clockwise0.svg" />
                        <a href="#" class="compare2">Compare</a>
                    </div>
                    <div class="customer-support">
                        <img class="regular-headphones" src="regular-headphones0.svg" />
                        <a href="#" class="customer-support2">Customer Support</a>
                    </div>
                    <div class="need-help">
                        <img class="regular-info" src="regular-info0.svg" />
                        <a href="#" class="need-help2">Need Help</a>
                    </div>
                </div>
                <div class="call-now">
                    <img class="regular-phone-call" src="regular-phone-call0.svg" />
                    <div class="_1-202-555-0104">+1-202-555-0104</div>
                </div>
            </div>
        </div>
        <div class="breadcrumb">
            <div class="breadcumb">
                <img class="regular-house" src="regular-house0.svg" />
                <div class="home">Home</div>
                <img class="regular-caret-right" src="regular-caret-right0.svg" />
                <div class="behicle-accessories">Shoping Card</div>
            </div>
        </div>
        <div class="footer">
            <div class="footer2">
                <div class="clicon-e-commerce">
                    <div class="logo">
                        <img class="icon2" src="icon1.svg" />
                        <div class="clicon">CLICON</div>
                    </div>
                    <div class="contact-info">
                        <div class="phone-number">
                            <div class="customer-supports">Customer Supports:</div>
                            <a href="#" class="_629-555-0129">(629) 555-0129</a>
                        </div>
                        <div class="_4517-washington-ave-manchester-kentucky-39495">
                            4517 Washington Ave. Manchester, Kentucky 39495
                        </div>
                        <a href="#" class="info-kinbo-com">info@kinbo.com</a>
                    </div>
                </div>
                <div class="top-category">
                    <div class="top-category2">Top Category</div>
                    <div class="item">
                        <div class="footer-links">
                            <a href="#" class="electronics">Computer &amp; Laptop</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">SmartPhone</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Headphone</a>
                        </div>
                        <div class="footer-links">
                            <div class="devider"></div>
                            <div class="electronics2">Accessories</div>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Camera &amp; Photo</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">TV &amp; Homes</a>
                        </div>
                        <div class="button2">
                            <a href="#" class="browse-all-product">Browse All Product</a>
                            <img class="regular-arrow-right" src="regular-arrow-right0.svg" />
                        </div>
                    </div>
                </div>
                <div class="quick-links">
                    <div class="quick-links2">Quick links</div>
                    <div class="item">
                        <div class="footer-links">
                            <a href="#" class="electronics">Shop Product</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Shoping Cart</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Wishlist</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Compare</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Track Order</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Customer Help</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">About Us</a>
                        </div>
                    </div>
                </div>
                <div class="quick-links3">
                    <div class="download-a-pp">Download APp</div>
                    <div class="links">
                        <div class="mobile-app">
                            <div class="icon-google-play-1">
                                <img class="group" src="group0.svg" />
                            </div>
                            <div class="info">
                                <div class="get-it-now">Get it now</div>
                                <a href="#" class="google-play">Google Play</a>
                            </div>
                        </div>
                        <div class="mobile-app">
                            <div class="apple-negative-1">
                                <img class="group2" src="group1.svg" />
                            </div>
                            <div class="info">
                                <div class="get-it-now">Get it now</div>
                                <a href="#" class="app-store">App Store</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-tag">
                    <div class="popular-tag2">Popular Tag</div>
                    <div class="tag">
                        <div class="row">
                            <div class="tag2">
                                <a href="#" class="cooking">Game</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">iPhone</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">TV</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">Asus Laptops</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="tag2">
                                <a href="#" class="cooking">Macbook</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">SSD</a>
                            </div>
                            <div class="tag3">
                                <a href="#" class="cooking">Graphics Card</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="tag2">
                                <a href="#" class="cooking">Power Bank</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">Smart TV</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">Speaker</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="tag2">
                                <a href="#" class="cooking">Tablet</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">Microwave</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">Samsung</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="kinbo-e-commerce-template-2021-design-by-templatecookie">
                    Kinbo - eCommerce Template © 2021. Design by Templatecookie
                </div>
            </div>
        </div>
        <div class="shoping-card">
            <div class="heading">
                <div class="shopping-card">Shopping Card</div>
            </div>
            <div class="sub-heading">
                <div class="products">Products</div>
                <div class="price">Price</div>
                <div class="quantity">Quantity</div>
                <div class="sub-total">Sub-Total</div>
            </div>
            <div class="products2">
                <div class="product">
                    <div class="product2">
                        <img class="regular-x-circle" src="regular-x-circle0.svg" />
                        <img class="image" src="image0.png" />
                        <div class="_4-k-uhd-led-smart-tv-with-chromecast-built-in">
                            4K UHD LED Smart TV with Chromecast Built-in
                        </div>
                    </div>
                    <div class="frame-409">
                        <div class="_99">$99</div>
                        <div class="_70">$70</div>
                    </div>
                    <div class="quantity2">
                        <div class="button3">
                            <img class="duotone-minus" src="duotone-minus0.svg" />
                            <div class="_01">01</div>
                            <img class="duotone-plus" src="duotone-plus0.svg" />
                        </div>
                    </div>
                    <div class="_702">$70</div>
                </div>
                <div class="product">
                    <div class="product2">
                        <img class="regular-x-circle2" src="regular-x-circle1.svg" />
                        <img class="image" src="image1.png" />
                        <div class="wired-over-ear-gaming-headphones-with-usb">
                            Wired Over-Ear Gaming Headphones with USB
                        </div>
                    </div>
                    <div class="_250">$250</div>
                    <div class="quantity2">
                        <div class="button3">
                            <img class="duotone-minus2" src="duotone-minus1.svg" />
                            <div class="_03">03</div>
                            <img class="duotone-plus2" src="duotone-plus1.svg" />
                        </div>
                    </div>
                    <div class="_2502">$250</div>
                </div>
            </div>
            <div class="line-25"></div>
            <div class="button4">
                <div class="button5">
                    <img class="regular-arrow-left" src="regular-arrow-left0.svg" />
                    <div class="label2">Return to Shop</div>
                </div>
                <div class="button5">
                    <div class="label2">Update cart</div>
                </div>
            </div>
        </div>
        <div class="card-total">
            <div class="heading">
                <div class="card-totals">Card Totals</div>
            </div>
            <div class="total">
                <div class="content">
                    <div class="frame-404">
                        <div class="sub-total2">Sub-total</div>
                        <div class="_320">$320</div>
                    </div>
                    <div class="frame-405">
                        <div class="shipping">Shipping</div>
                        <div class="free">Free</div>
                    </div>
                    <div class="frame-406">
                        <div class="discount">Discount</div>
                        <div class="_24">$24</div>
                    </div>
                    <div class="frame-407">
                        <div class="tax">Tax</div>
                        <div class="_61-99">$61.99</div>
                    </div>
                </div>
                <div class="line-26"></div>
                <div class="frame-408">
                    <div class="total2">Total</div>
                    <div class="_357-99-usd">$357.99 USD</div>
                </div>
            </div>
            <div class="button6">
                <div class="label3">Proceed to Checkout</div>
                <img class="regular-arrow-right2" src="regular-arrow-right1.svg" />
            </div>
        </div>
        <div class="coupone-code">
            <div class="heading2">
                <div class="coupon-code">Coupon Code</div>
            </div>
            <div class="apply-coupone">
                <div class="input-field">
                    <div class="email-address">Email address</div>
                </div>
                <div class="button7">
                    <div class="label4">Apply Coupon</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>