<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOPING CARD</title>
    <link rel="stylesheet" href="shopingCard.css">
</head>
<body>
    <div class="_13-shopping-card">
        <div class="navigation">
            <div class="top-nav">
                <div class="welcome-to-clicon-online-e-commerce-store">
                    Bem - vindo à loja de comércio eletrônico online da Clicon.
                </div>
                <div class="left-content">
                    <div class="follow-us">
                        <div class="follow-us2">Redes Sociais:</div>
                        <div class="social-icon">
                            <a href="https://x.com/?lang=pt-br"><img class="twitter" src="image/twitter.png" /></a>
                            <a href="https://pt-br.facebook.com/"><img class="facebook" src="image/facebook.png" /></a>
                            <a href="https://br.pinterest.com/"><img class="pinterest" src="image/pinterest.png" /></a>
                            <a href="https://www.youtube.com/"><img class="youtube" src="image/youtube.png" /></a>
                            <a href="https://www.instagram.com/"><img class="instagram" src="image/instagram.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle-nav">
                <div class="logo">
                    <a class="logo" href="#">
                        <img class="icon" src="image/logo_header.png" />
                        <div class="clicon">CLICON</div>
                    </a>
                </div>
                <div class="frame-18">
                    <input class="search-for-anything" type="text" placeholder="Search for anything...">
                    <div>
                        <img src="image/lupa.png" class="pesquisa" width="20" height="20">
                    </div>
                </div>
                <div class="icons">
                    <div class="shopping-cart-simple">
                        <a href="#">
                            <img src="image/carrinho.png" />
                            <div class="frame-182">
                                <div class="_2">2</div>
                            </div>
                        </a>
                    </div>
                    <a href="#"><img class="heart" src="image/favoritos.png" /></a>
                    <a href="#"><img class="regular-user" src="image/usuario.png" /></a>
                </div>
            </div>
            <div class="bottom-nav">
                <div class="left-side">
                    <div class="category">
                        <a class="categorias" href="#">
                            <div class="button">
                                <div class="label">Todas as categorias</div>
                                <img class="regular-caret-down3" src="image/menu_categorias.png" />
                            </div>
                        </a>    
                        <div class="todas_as_categorias">
                            <a href="#">Smartphones</a>
                            <a href="#">Informática</a>
                            <a href="#">Games</a>
                            <a href="#">Áudio</a>
                            <a href="#">Móveis</a>
                        </div>
                    </div>
                    <div class="track-order">
                        <a class="track-order" href="#">
                            <img class="regular-map-pin-line" src="image/rastrear_pedido.png" />
                            <div class="track-order2">Rastrear pedido</div>
                        </a>
                    </div>
                    <div class="compare">
                        <a class="compare" href="#">
                            <img class="duotone-arrows-counter-clockwise" src="image/comparar.png" />
                            <div class="compare2">Comparar</div>
                        </a>
                    </div>
                    <div class="customer-support">
                        <a class="customer-support" href="#">
                            <img class="regular-headphones" src="image/suporte.png" />
                            <div class="customer-support2">Suporte ao cliente</div>
                        </a>
                    </div>
                    <div class="need-help">
                        <a class="need-help" href="#">
                            <img class="regular-info" src="image/ajuda.png" />
                            <div class="need-help2">Ajuda</div>
                        </a>
                    </div>
                </div>
                <div class="call-now">
                    <a class="call-now" href="#">
                        <img class="regular-phone-call" src="image/telefone.png" />
                        <div class="_1-202-555-0104">+1-202-555-0104</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="breadcrumb">
            <div class="breadcumb">
                <img class="regular-house" src="image/home.png" />
                <div class="home">Início</div>
                <img class="regular-caret-right" src="image/avancar.png" />
                <div class="behicle-accessories">Minhas compras</div>
            </div>
        </div>
        <div class="footer">
            <div class="footer2">
                <div class="clicon-e-commerce">
                    <div class="logo">
                        <a class="logo" href="#">
                            <img class="icon2" src="image/logo_footer.png" />
                            <div class="clicon">CLICON</div>
                        </a>
                    </div>
                    <div class="contact-info">
                        <div class="phone-number">
                            <div class="customer-supports">Suporte ao cliente:</div>
                            <a href="#" class="_629-555-0129">(629) 555-0129</a>
                        </div>
                        <div class="_4517-washington-ave-manchester-kentucky-39495">
                            4517 Washington Ave. Manchester, Kentucky 39495
                        </div>
                        <a href="#" class="info-kinbo-com">info@kinbo.com</a>
                    </div>
                </div>
                <div class="top-category">
                    <div class="top-category2">Top Categorias</div>
                    <div class="item">
                        <div class="footer-links">
                            <a href="#" class="electronics">Computer &amp; Laptop</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">SmartPhone</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Headphone</a>
                        </div>
                        <div class="footer-links">
                            <div class="devider"></div>
                            <div class="electronics2">Acessórios</div>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Camera &amp; Photo</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">TV &amp; Homes</a>
                        </div>
                        <div class="button2">
                            <a class="button2" href="#">
                                <div class="browse-all-product">Navegue por produtos</div>
                                <img class="regular-arrow-right" src="image/navegar.png" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="quick-links">
                    <div class="quick-links2">Links rápidos</div>
                    <div class="item">
                        <div class="footer-links">
                            <a href="#" class="electronics">Produtos da loja</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Carrinho de compras</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Lista de desejos</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Comparar</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Rastrear pedido</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Ajuda</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Sobre nós</a>
                        </div>
                    </div>
                </div>
                <div class="quick-links3">
                    <div class="download-a-pp">Download App</div>
                    <div class="links">
                        <a href="#">
                            <div class="mobile-app">
                                <div class="icon-google-play-1">
                                    <img class="group" src="image/playstore.png" />
                                </div>
                                <div class="info">
                                    <div class="get-it-now">Baixe agora</div>
                                    <div class="google-play">Google Play</div>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="mobile-app">
                                <div class="apple-negative-1">
                                    <img class="group2" src="image/apple.png" width="30" height="30" />
                                </div>
                                <div class="info">
                                    <div class="get-it-now">Baixe agora</div>
                                    <div class="app-store">App Store</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="popular-tag">
                    <div class="popular-tag2">Tag popular</div>
                    <div class="tag">
                        <div class="row">
                            <div class="tag2">
                                <a href="#" class="cooking">Game</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">iPhone</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">TV</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">Asus Laptops</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="tag2">
                                <a href="#" class="cooking">Macbook</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">SSD</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">Graphics Card</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="tag2">
                                <a href="#" class="cooking">Power Bank</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">Smart TV</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">Speaker</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="tag2">
                                <a href="#" class="cooking">Tablet</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">Microwave</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">Samsung</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="kinbo-e-commerce-template-2021-design-by-templatecookie">
                    Kinbo - eCommerce Template © 2021. Design by Templatecookie
                </div>
            </div>
        </div>
        <div class="shoping-card">
            <div class="heading">
                <div class="shopping-card">Minhas compras</div>
            </div>
            <div class="sub-heading">
                <div class="products">Produtos</div>
                <div class="price">Preço</div>
                <div class="quantity">Quantidade</div>
                <div class="sub-total">Sub-Total</div>
            </div>
            <div class="products2">
                <div class="product">
                    <div class="product2">
                        <span class="regular-x-circle"></span>
                        <img class="image" src="image/tv.png" />
                        <div class="_4-k-uhd-led-smart-tv-with-chromecast-built-in">
                            4K UHD LED Smart TV with Chromecast Built-in
                        </div>
                    </div>
                    <div class="frame-409">
                        <div class="_99">R$99</div>
                        <div class="_70">R$70</div>
                    </div>
                    <div class="quantity2">
                        <div class="button3">
                            <button class="diminuir" type="button" onclick="diminuir1()"><img class="duotone-minus" src="image/menos.png" /></button>
                            <div class="_01">
                                <p id="produto1"></p>
                            </div>
                            <button class="somar" type="button" onclick="somar1()"><img class="duotone-plus" src="image/mais.png" /></button>
                        </div>
                    </div>
                    <div class="_702">R$70</div>
                </div>
                <div class="product">
                    <div class="product2">
                        <span class="regular-x-circle2"></span>
                        <img class="image" src="image/fone.png" />
                        <div class="wired-over-ear-gaming-headphones-with-usb">
                            Wired Over-Ear Gaming Headphones with USB
                        </div>
                    </div>
                    <div class="_250">R$250</div>
                    <div class="quantity2">
                        <div class="button3">
                            <button class="diminuir" type="button" onclick="diminuir2()"><img class="duotone-minus2" src="image/menos.png" /></button>
                            <div class="_03">
                                <p id="produto2">03</p>
                            </div>
                            <button class="somar" type="button" onclick="somar2()"><img class="duotone-plus2" src="image/mais.png" /></button>
                        </div>
                    </div>
                    <div class="_2502">R$250</div>
                </div>
            </div>
            <div class="line-25"></div>
            <div class="button4">
                <button class="button5">
                    <img class="regular-arrow-left" src="image/voltar.png" />
                    <div class="label2">Voltar à loja</div>
                </button>
                <button class="button5">
                    <div class="label2">Carrinho</div>
                </button>
            </div>
        </div>
        <div class="card-total">
            <div class="heading">
                <div class="card-totals">Total</div>
            </div>
            <div class="total">
                <div class="content">
                    <div class="frame-404">
                        <div class="sub-total2">Sub-total</div>
                        <div class="_320">R$320</div>
                    </div>
                    <div class="frame-405">
                        <div class="shipping">Frete</div>
                        <div class="free">Free</div>
                    </div>
                    <div class="frame-406">
                        <div class="discount">Desconto</div>
                        <div class="_24">R$24</div>
                    </div>
                    <div class="frame-407">
                        <div class="tax">Taxa</div>
                        <div class="_61-99">R$61.99</div>
                    </div>
                </div>
                <div class="line-26"></div>
                <div class="frame-408">
                    <div class="total2">Total</div>
                    <div class="_357-99-usd">R$357.99 BRL</div>
                </div>
            </div>
            <button class="button6">
                <div class="label3">Checkout</div>
                <img class="regular-arrow-right2" src="image/seta_branca.png" />
            </button>
        </div>
        <div class="coupone-code">
            <div class="heading2">
                <div class="coupon-code">
                    <input class="cupom" type="text" placeholder="Código do cupom">
                </div>
            </div>
            <div class="apply-coupone">
                <div class="input-field">
                    <div class="email-address">
                        <input class="email" type="email" placeholder="Endereço de email">
                    </div>
                </div>
                <button class="button7">
                    <div class="label4">Aplicar cupom</div>
                </button>
            </div>
        </div>
    </div>
    <script src="shopingCard.js"></script>
</body>
</html>