<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="carrinho.css">
    <title>Document</title>
</head>
<body>

    <div class="_07-shop-page">
        <div class="navigation">
          <div class="top-nav">
            <div class="welcome-to-clicon-online-e-commerce-store">
              Bem vindo a sua online de eletronicos.
            </div>
            <div class="left-content">
              <div class="follow-us">
                <div class="follow-us2">Nos siga:</div>
                <div class="social-icon">
                  <img class="twitter" src="pasta de imagens/twitter.png" />
                  <img class="facebook" src="pasta de imagens/facebook.png" />
                  <img class="reddit" src="pasta de imagens/reddit.png" />
                  <img class="youtube" src="pasta de imagens/youtube.png" />
                  <img class="instagram" src="pasta de imagens/instagram.png" />
                </div>
              </div>
              <div class="line-1"></div>
              <div class="multi-language-drodpwon">
                <div class="dropdown">
                  <div class="eng">BR</div>
                  <img class="regular-caret-down" src="regular-caret-down0.svg" />
                </div>
              </div>
              <div class="multi-currency-dropdown">
                <div class="dropdown">
                  <div class="usd">REAL</div>
                  <img class="regular-caret-down2" src="regular-caret-down1.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="middle-nav">
            <div class="logo">
              <img class="icon" src="icon0.svg" />
              <div class="clicon">CLICON</div>
            </div>
            <div class="frame-18">
              <div class="search-for-anything">Procurar por algo...</div>
              <img
                class="regular-magnifying-glass"   src="Lupa.png"
              />
            </div>
            <div class="icons">
              <div class="shopping-cart-simple">
                <img class="vector" src="vector0.svg" />
                <img class="vector2" src="vector1.svg" />
                <img class="vector3" src="vector2.svg" />
                <img class="vector4" src="vector3.svg" />
                <div class="frame-182">
                  <div class="_2">2</div>
                </div>
              </div>
              <img class="heart" src="pasta de imagens/coracao.png" />
              <img class="regular-user" src="pasta de imagens/pessoa.png" />
            </div>
          </div>
          <div class="bottom-nav">
            <div class="left-side">
              <div class="category">
                <div class="button">
                  <div class="label">Todas as categorias</div>
                  <img class="regular-caret-down3" src="pasta de imagens/seta-para-baixo.png" />
                </div>
              </div>
              <div class="track-order">
                <img class="regular-map-pin-line" src="pasta de imagens/pin-de-localizacao.png" />
                <div class="track-order2">Track Order</div>
              </div>
              <div class="compare">
                <img
                  class="duotone-arrows-counter-clockwise"
                  src="pasta de imagens/ciclo.png"
                />
                <div class="compare2">Comparar</div>
              </div>
              <div class="customer-support">
                <img class="regular-headphones" src="pasta de imagens/headphones.png" />
                <div class="customer-support2">Suporte ao clienet</div>
              </div>
              <div class="need-help">
                <img class="regular-info" src="pasta de imagens/informação.png" />
                <div class="need-help2">Precisa de ajuda?</div>
              </div>
            </div>
            <div class="call-now">
              <img class="regular-phone-call" src="pasta de imagens/telefone.png" />
              <div class="_1-202-555-0104">+1-202-555-0104</div>
            </div>
          </div>
        </div>
        <div class="breadcrumb">
          <div class="breadcumb">
            <img class="regular-house" src="pasta de imagens/inicio.png" />
            <div class="home">Ínicio</div>
            <img class="regular-caret-right" src="regular-caret-right0.svg" />
            <div class="shop">Loja</div>
            <img class="regular-caret-right2" src="regular-caret-right1.svg" />
            <div class="shop-grid">Grade da Loja</div>
            <img class="regular-caret-right3" src="regular-caret-right2.svg" />
            <div class="behicle-accessories">Dispositios eletronicos</div>
          </div>
        </div>
        <div class="product-list">
          <div class="filter">
            <div class="category2">
              <div class="category3">Categoria</div>
              <div class="radio">
                <div class="category4">
                  <div class="from-elements">
                    <div class="ellipse-11"></div>
                  </div>
                  <div class="electronics-devices">Dispositivos eletronicos</div>
                </div>
                <div class="category4">
                  <div class="from-elements2"></div>
                  <div class="computer-laptop">Computador &amp; Laptop</div>
                </div>
                <div class="category4">
                  <div class="from-elements2"></div>
                  <div class="computer-accessories">Acessorios de computador</div>
                </div>
                <div class="category4">
                  <div class="from-elements2"></div>
                  <div class="smart-phone">SmartPhone</div>
                </div>
                <div class="category4">
                  <div class="from-elements2"></div>
                  <div class="headphone">Headphone</div>
                </div>
                <div class="category4">
                  <div class="from-elements2"></div>
                  <div class="mobile-accessories">Acessórios mobile</div>
                </div>
                <div class="category4">
                  <div class="from-elements2"></div>
                  <div class="gaming-console">Consoles gamer</div>
                </div>
                <div class="category4">
                  <div class="from-elements2"></div>
                  <div class="camera-photo">Câmera &amp; Foto</div>
                </div>
                <div class="category4">
                  <div class="from-elements2"></div>
                  <div class="tv-homes-appliances">TV &amp; Eletrodomésticos</div>
                </div>
                <div class="category4">
                  <div class="from-elements2"></div>
                  <div class="watchs-accessories">Relógios &amp; Acessórios</div>
                </div>
                <div class="category4">
                  <div class="from-elements2"></div>
                  <div class="gps-navigation">GPS &amp; Navegação</div>
                </div>
                <div class="category4">
                  <div class="from-elements2"></div>
                  <div class="warable-technology">Tecnologia de Guerra</div>
                </div>
              </div>
            </div>
            <div class="line-13"></div>
            <div class="price-range">
              <div class="price-range2">Margem de Preço</div>
              <img class="price-range3" src="price-range2.svg" />
              <div class="input-field">
                <div class="min-price">
                  <div class="min-price2">Preço mínimo</div>
                </div>
                <div class="max-price">
                  <div class="max-price2">Preço máximo</div>
                </div>
              </div>
              <div class="radio">
                <div class="category4">
                  <div class="from-elements2"></div>
                  <div class="all-price">Preço total</div>
                </div>
                <div class="category4">
                  <div class="from-elements2"></div>
                  <div class="under-20">Abaixo de $20</div>
                </div>
                <div class="category4">
                  <div class="from-elements2"></div>
                  <div class="_25-to-100"> de $25 a $100</div>
                </div>
                <div class="category4">
                  <div class="from-elements2"></div>
                  <div class="_100-to-300">de $100 a $300</div>
                </div>
                <div class="category4">
                  <div class="from-elements3"></div>
                  <div class="_300-to-500">de $300 a $500</div>
                </div>
                <div class="category4">
                  <div class="from-elements2"></div>
                  <div class="_500-to-1-000">de $500 a $1,000</div>
                </div>
                <div class="category4">
                  <div class="from-elements2"></div>
                  <div class="_1-000-to-10-000">de $1,000 a $10,000</div>
                </div>
              </div>
            </div>
            <div class="line-15"></div>
            <div class="popular-brands">
              <div class="popular-brands2">Marcas populares</div>
              <div class="check-box">
                <div class="row">
                  <div class="checkbox">
                    <div class="from-elements4">
                      <img class="duotone-check" src="duotone-check0.svg" />
                    </div>
                    <div class="apple">Apple</div>
                  </div>
                  <div class="checkbox">
                    <div class="from-elements4">
                      <img class="duotone-check2" src="duotone-check1.svg" />
                    </div>
                    <div class="google">Google</div>
                  </div>
                </div>
                <div class="row">
                  <div class="checkbox">
                    <div class="from-elements4">
                      <img class="duotone-check3" src="duotone-check2.svg" />
                    </div>
                    <div class="microsoft">Microsoft</div>
                  </div>
                  <div class="checkbox">
                    <div class="from-elements5"></div>
                    <div class="samsung">Samsung</div>
                  </div>
                </div>
                <div class="row">
                  <div class="checkbox">
                    <div class="from-elements5"></div>
                    <div class="dell">Dell</div>
                  </div>
                  <div class="checkbox">
                    <div class="from-elements4">
                      <img class="duotone-check4" src="duotone-check3.svg" />
                    </div>
                    <div class="hp">HP</div>
                  </div>
                </div>
                <div class="row">
                  <div class="checkbox">
                    <div class="from-elements5"></div>
                    <div class="symphony">Symphony</div>
                  </div>
                  <div class="checkbox">
                    <div class="from-elements5"></div>
                    <div class="xiaomi">Xiaomi</div>
                  </div>
                </div>
                <div class="row">
                  <div class="checkbox">
                    <div class="from-elements6"></div>
                    <div class="sony">Sony</div>
                  </div>
                  <div class="checkbox">
                    <div class="from-elements4">
                      <img class="duotone-check5" src="duotone-check4.svg" />
                    </div>
                    <div class="panasonic">Panasonic</div>
                  </div>
                </div>
                <div class="row">
                  <div class="checkbox">
                    <div class="from-elements4">
                      <img class="duotone-check6" src="duotone-check5.svg" />
                    </div>
                    <div class="lg">LG</div>
                  </div>
                  <div class="checkbox">
                    <div class="from-elements5"></div>
                    <div class="intel">Intel</div>
                  </div>
                </div>
                <div class="row">
                  <div class="checkbox">
                    <div class="from-elements5"></div>
                    <div class="one-plus">One Plus</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="line-16"></div>
            <div class="popular-tag">
              <div class="popular-tag2">Popular Tag</div>
              <div class="tag">
                <div class="row">
                  <div class="tag2">
                    <div class="cooking">Game</div>
                  </div>
                  <div class="tag2">
                    <div class="cooking">iPhone</div>
                  </div>
                  <div class="tag2">
                    <div class="cooking">TV</div>
                  </div>
                  <div class="tag2">
                    <div class="cooking">Asus Laptops</div>
                  </div>
                </div>
                <div class="row">
                  <div class="tag2">
                    <div class="cooking">Macbook</div>
                  </div>
                  <div class="tag2">
                    <div class="cooking">SSD</div>
                  </div>
                  <div class="tag3">
                    <div class="cooking2">Graphics Card</div>
                  </div>
                </div>
                <div class="row">
                  <div class="tag2">
                    <div class="cooking">Power Bank</div>
                  </div>
                  <div class="tag2">
                    <div class="cooking">Smart TV</div>
                  </div>
                  <div class="tag2">
                    <div class="cooking">Speaker</div>
                  </div>
                </div>
                <div class="row">
                  <div class="tag2">
                    <div class="cooking">Tablet</div>
                  </div>
                  <div class="tag2">
                    <div class="cooking">Microondas</div>
                  </div>
                  <div class="tag2">
                    <div class="cooking">Samsung</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="banner">
              <img class="image-7" src="image-70.png" />
              <div class="content">
                <div class="content2">
                  <div class="info">
                    <img class="image-8" src="image-80.png" />
                    <div class="heavy-on-features-light-on-price">
                      Pesado em recursos.
                      <br />
                      Leve no preço.
                    </div>
                  </div>
                  <div class="prices">
                    <div class="only-for">Por apenas:</div>
                    <div class="prices2">
                      <div class="_299-usd">$299 Reais</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="button2">
                <div class="button3">
                  <img
                    class="shopping-cart-simple2"
                    src="shopping-cart-simple1.svg"
                  />
                  <div class="label2">Adicionar ao carrinho</div>
                </div>
                <div class="button4">
                  <div class="label3">Ver detalhes</div>
                  <img class="regular-arrow-right" src="regular-arrow-right0.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="search-sort-by">
              <div class="search">
                <div class="search-for-anything2">Procura por algo...</div>
                <img
                  class="regular-magnifying-glass2"
                  src="pasta de imagens/Lupa.png"
                />
              </div>
              <div class="sort-by">
                <div class="sort-by2">Ordenar por:</div>
                <div class="dropdown2">
                  <div class="good-morning">Mais Popular</div>
                  <img class="regular-caret-down4" src="regular-caret-down3.svg" />
                </div>
              </div>
            </div>
            <div class="active-filters-results">
              <div class="active-filters">
                <div class="active-filters2">Filtros Ativos:</div>
                <div class="active-filters3">
                  <div class="wing-chair">Dispositios electrônicos</div>
                  <img class="duotone-x" src="duotone-x0.svg" />
                </div>
                <div class="active-filters3">
                  <div class="wing-chair">5 Estrelas</div>
                  <img class="duotone-x2" src="duotone-x1.svg" />
                </div>
              </div>
            </div>
            <div class="products">
              <div class="row2">
                <div class="product">
                  <img class="image" src="image0.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star" src="pasta de imagens/estrela.png" />
                        <img class="regular-star2" src="pasta de imagens/estrela.png" />
                        <img class="regular-star3" src="pasta de imagens/estrela.png" />
                        <img class="regular-star4" src="pasta de imagens/estrela.png" />
                        <img class="regular-star5" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(738)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      TOZO T6 True Wireless Earbuds Bluetooth Headphon...
                    </div>
                    <div class="price">
                      <div class="_442-12">$70</div>
                    </div>
                  </div>
                  <div class="badge">
                    <div class="hot">Tempo limitado</div>
                  </div>
                </div>
                <div class="product">
                  <img class="image" src="image1.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star6" src="pasta de imagens/estrela.png" />
                        <img class="regular-star7" src="pasta de imagens/estrela.png" />
                        <img class="regular-star8" src="pasta de imagens/estrela.png" />
                        <img class="regular-star9" src="pasta de imagens/estrela.png" />
                        <img class="regular-star10" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">536)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      Samsung Electronics Samsung Galexy S21 5G
                    </div>
                    <div class="price">
                      <div class="_442-12">$2,300</div>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <img class="image" src="image2.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star11" src="pasta de imagens/estrela.png" />
                        <img class="regular-star12" src="pasta de imagens/estrela.png" />
                        <img class="regular-star13" src="pasta de imagens/estrela.png" />
                        <img class="regular-star14" src="pasta de imagens/estrela.png" />
                        <img class="regular-star15" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">423)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      Amazon Basics High-Speed HDMI Cable (18 Gbps, 4K/6...
                    </div>
                    <div class="price">
                      <div class="_442-12">$360</div>
                    </div>
                  </div>
                  <div class="badge2">
                    <div class="best-deals">Melhor oferta</div>
                  </div>
                </div>
                <div class="product">
                  <img class="image" src="image3.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star16" src="pasta de imagens/estrela.png" />
                        <img class="regular-star17" src="pasta de imagens/estrela.png" />
                        <img class="regular-star18" src="pasta de imagens/estrela.png" />
                        <img class="regular-star19" src="pasta de imagens/estrela.png" />
                        <img class="regular-star20" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">816)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      Wshing Machine portavel, 11lbs modelo de capacidade 18NMF...
                    </div>
                    <div class="price">
                      <div class="_442-12">$80</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row2">
                <div class="product">
                  <img class="image" src="image4.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star21" src="pasta de imagens/estrela.png" />
                        <img class="regular-star22" src="pasta de imagens/estrela.png" />
                        <img class="regular-star23" src="pasta de imagens/estrela.png" />
                        <img class="regular-star24" src="pasta de imagens/coracao.png" />
                        <img class="regular-star25" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(647)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      Wired Over-Ear Gaming Headphones with USB
                    </div>
                    <div class="price">
                      <div class="_442-12">$1,500</div>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <img class="image" src="image5.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star26" src="pasta de imagens/estrela.png" />
                        <img class="regular-star27" src="pasta de imagens/estrela.png" />
                        <img class="regular-star28" src="pasta de imagens/estrela.png" />
                        <img class="regular-star29" src="pasta de imagens/estrela.png" />
                        <img class="regular-star30" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(877)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      Polaroid 57-Inch Photo/Video Tripod with Deluxe Tripod Ca...
                    </div>
                    <div class="price">
                      <div class="_865-99">$1600</div>
                      <div class="_442-12">$1,200</div>
                    </div>
                  </div>
                  <div class="badge3">
                    <div class="_25-off">Desconto 25%</div>
                  </div>
                </div>
                <div class="product2">
                  <img class="image2" src="image6.png" />
                  <div class="button5">
                    <div class="arrow-button">
                      <img class="heart2" src="heart1.svg" />
                    </div>
                    <div class="arrow-button">
                      <img
                        class="shopping-cart-simple3"
                        src="shopping-cart-simple2.svg"
                      />
                    </div>
                    <div class="arrow-button2">
                      <img class="regular-eye" src="regular-eye0.svg" />
                    </div>
                  </div>
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star31" src="pasta de imagens/estrela.png" />
                        <img class="regular-star32" src="pasta de imagens/estrela.png" />
                        <img class="regular-star33" src="pasta de imagens/estrela.png" />
                        <img class="regular-star34" src="pasta de imagens/estrela.png" />
                        <img class="regular-star35" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(426)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      Dell Optiplex 7000x7480 All-in-One Computer Monitor
                    </div>
                    <div class="price">
                      <div class="_442-12">$250</div>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <img class="image" src="image7.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star36" src="pasta de imagens/estrela.png" />
                        <img class="regular-star37" src="pasta de imagens/estrela.png" />
                        <img class="regular-star38" src="pasta de imagens/estrela.png" />
                        <img class="regular-star39" src="pasta de imagens/estrela.png" />
                        <img class="regular-star40" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(583)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      4K UHD LED Smart TV with Chromecast Built-in
                    </div>
                    <div class="price">
                      <div class="_442-12">$220</div>
                    </div>
                  </div>
                  <div class="badge4">
                    <div class="sale">Vender</div>
                  </div>
                </div>
              </div>
              <div class="row2">
                <div class="product">
                  <img class="image" src="image8.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star41" src="pasta de imagens/estrela.png" />
                        <img class="regular-star42" src="pasta de imagens/estrela.png" />
                        <img class="regular-star43" src="pasta de imagens/estrela.png" />
                        <img class="regular-star44" src="pasta de imagens/estrela.png" />
                        <img class="regular-star45" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(994)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      HDMI Basico Alta Velocidade Amazon Cable (18 Gbps, 4K/6...
                    </div>
                    <div class="price">
                      <div class="_442-12">$360</div>
                    </div>
                  </div>
                  <div class="badge2">
                    <div class="best-deals">Melhor oferta</div>
                  </div>
                </div>
                <div class="product">
                  <img class="image" src="image9.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star46" src="pasta de imagens/estrela.png" />
                        <img class="regular-star47" src="pasta de imagens/estrela.png" />
                        <img class="regular-star48" src="pasta de imagens/estrela.png" />
                        <img class="regular-star49" src="pasta de imagens/estrela.png" />
                        <img class="regular-star50" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(798)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      Wshing Machine Portavel, 11lbs Modelo de Cpacidade 18NMF...
                    </div>
                    <div class="price">
                      <div class="_442-12">$80</div>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <img class="image" src="image10.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star51" src="pasta de imagens/estrela.png" />
                        <img class="regular-star52" src="pasta de imagens/estrela.png" />
                        <img class="regular-star53" src="pasta de imagens/estrela.png" />
                        <img class="regular-star54" src="pasta de imagens/estrela.png" />
                        <img class="regular-star55" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(600)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      TOZO T6 True Wireless Earbuds Bluetooth Headphon...
                    </div>
                    <div class="price">
                      <div class="_442-12">$70</div>
                    </div>
                  </div>
                  <div class="badge">
                    <div class="hot">Tempo limitado</div>
                  </div>
                </div>
                <div class="product">
                  <img class="image" src="image11.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star56" src="pasta de imagens/estrela.png" />
                        <img class="regular-star57" src="pasta de imagens/estrela.png" />
                        <img class="regular-star58" src="pasta de imagens/estrela.png" />
                        <img class="regular-star59" src="pasta de imagens/estrela.png" />
                        <img class="regular-star60" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(492)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      Dell Optiplex 7000x7480 All-in-One Computer Monitor
                    </div>
                    <div class="price">
                      <div class="_442-12">$250</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row2">
                <div class="product">
                  <img class="image" src="image12.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star61" src="pasta de imagens/estrela.png" />
                        <img class="regular-star62" src="pasta de imagens/estrela.png" />
                        <img class="regular-star63" src="pasta de imagens/estrela.png" />
                        <img class="regular-star64" src="pasta de imagens/estrela.png" />
                        <img class="regular-star65" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(740)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      Electronicp Samsung Galaxy S21 5G
                    </div>
                    <div class="price">
                      <div class="_442-12">$2,300</div>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <img class="image" src="image13.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star66" src="pasta de imagens/estrela.png" />
                        <img class="regular-star67" src="pasta de imagens/estrela.png" />
                        <img class="regular-star68" src="pasta de imagens/estrela.png" />
                        <img class="regular-star69" src="pasta de imagens/estrela.png" />
                        <img class="regular-star70" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(556)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      4K UHD LED Smart TV with Chromecast Built-in
                    </div>
                    <div class="price">
                      <div class="_442-12">$220</div>
                    </div>
                  </div>
                  <div class="badge4">
                    <div class="sale">SALE</div>
                  </div>
                </div>
                <div class="product">
                  <img class="image" src="image14.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star71" src="pasta de imagens/estrela.png" />
                        <img class="regular-star72" src="pasta de imagens/estrela.png" />
                        <img class="regular-star73" src="pasta de imagens/estrela.png" />
                        <img class="regular-star74" src="pasta de imagens/estrela.png" />
                        <img class="regular-star75" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(536)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      Wired Over-Ear Gaming Headphones with USB
                    </div>
                    <div class="price">
                      <div class="_442-12">$1,500</div>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <img class="image" src="image15.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star76" src="pasta de imagens/estrela.png" />
                        <img class="regular-star77" src="pasta de imagens/estrela.png" />
                        <img class="regular-star78" src="pasta de imagens/estrela.png" />
                        <img class="regular-star79" src="pasta de imagens/estrela.png" />
                        <img class="regular-star80" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(423)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      Polaroid 57-Inch Photo/Video Tripod with Deluxe Tripod Ca...
                    </div>
                    <div class="price">
                      <div class="_865-99">$1600</div>
                      <div class="_442-12">$1,200</div>
                    </div>
                  </div>
                  <div class="badge3">
                    <div class="_25-off">Desconto 25%</div>
                  </div>
                </div>
              </div>
              <div class="row2">
                <div class="product">
                  <img class="image" src="image16.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star81" src="pasta de imagens/estrela.png" />
                        <img class="regular-star82" src="pasta de imagens/estrela.png" />
                        <img class="regular-star83" src="pasta de imagens/estrela.png" />
                        <img class="regular-star84" src="pasta de imagens/estrela.png" />
                        <img class="regular-star85" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(738)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      TOZO T6 True Wireless Earbuds Bluetooth Headphon...
                    </div>
                    <div class="price">
                      <div class="_865-99">$75</div>
                      <div class="_442-12">$70</div>
                    </div>
                  </div>
                  <div class="badge">
                    <div class="hot">HOT</div>
                  </div>
                </div>
                <div class="product">
                  <img class="image" src="image17.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star86" src="pasta de imagens/estrela.png" />
                        <img class="regular-star87" src="pasta de imagens/estrela.png" />
                        <img class="regular-star88" src="pasta de imagens/estrela.png" />
                        <img class="regular-star89" src="pasta de imagens/estrela.png" />
                        <img class="regular-star90" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">536)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      Electronics Samsung Galaxy S21 5G
                    </div>
                    <div class="price">
                      <div class="_442-12">$2,300</div>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <img class="image" src="image18.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star91" src="pasta de imagens/estrela.png" />
                        <img class="regular-star92" src="pasta de imagens/estrela.png" />
                        <img class="regular-star93" src="pasta de imagens/estrela.png" />
                        <img class="regular-star94" src="pasta de imagens/estrela.png" />
                        <img class="regular-star95" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">423)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      HDMI Basico de Alta Velocidade Cable (18 Gbps, 4K/6...
                    </div>
                    <div class="price">
                      <div class="_442-12">$360</div>
                    </div>
                  </div>
                  <div class="badge2">
                    <div class="best-deals">BEST DEALS</div>
                  </div>
                </div>
                <div class="product">
                  <img class="image" src="image19.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star96" src="pasta de imagens/estrela.png" />
                        <img class="regular-star97" src="pasta de imagens/estrela.png" />
                        <img class="regular-star98" src="pasta de imagens/estrela.png" />
                        <img class="regular-star99" src="pasta de imagens/estrela.png" />
                        <img class="regular-star100" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">816)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                     Wshing Machine Portavel, 11lbs Modelo de Capacidade 18NMF...
                    </div>
                    <div class="price">
                      <div class="_442-12">$80</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row2">
                <div class="product">
                  <img class="image" src="image20.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star101" src="pasta de imagens/estrela.png" />
                        <img class="regular-star102" src="pasta de imagens/estrela.png" />
                        <img class="regular-star103" src="pasta de imagens/estrela.png" />
                        <img class="regular-star104" src="pasta de imagens/estrela.png" />
                        <img class="regular-star105" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(994)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      Amazon Basics High-Speed HDMI Cable (18 Gbps, 4K/6...
                    </div>
                    <div class="price">
                      <div class="_442-12">$360</div>
                    </div>
                  </div>
                  <div class="badge2">
                    <div class="best-deals">BEST DEALS</div>
                  </div>
                </div>
                <div class="product">
                  <img class="image" src="image21.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star106" src="pasta de imagens/estrela.png" />
                        <img class="regular-star107" src="pasta de imagens/estrela.png" />
                        <img class="regular-star108" src="pasta de imagens/estrela.png" />
                        <img class="regular-star109" src="pasta de imagens/estrela.png" />
                        <img class="regular-star110" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(492)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      Dell Optiplex 7000x7480 All-in-One Computer Monitor
                    </div>
                    <div class="price">
                      <div class="_442-12">$250</div>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <img class="image" src="image22.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star111" src="pasta de imagens/estrela.png" />
                        <img class="regular-star112" src="pasta de imagens/estrela.png" />
                        <img class="regular-star113" src="pasta de imagens/estrela.png" />
                        <img class="regular-star114" src="pasta de imagens/estrela.png" />
                        <img class="regular-star115" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(798)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      Portable Wshing Machine, 11lbs capacity Model 18NMF...
                    </div>
                    <div class="price">
                      <div class="_865-99">$124</div>
                      <div class="_442-12">$80</div>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <img class="image" src="image23.png" />
                  <div class="content3">
                    <div class="frame-391">
                      <div class="star">
                        <img class="regular-star116" src="pasta de imagens/estrela.png" />
                        <img class="regular-star117" src="pasta de imagens/estrela.png" />
                        <img class="regular-star118" src="pasta de imagens/estrela.png" />
                        <img class="regular-star119" src="pasta de imagens/estrela.png" />
                        <img class="regular-star120" src="pasta de imagens/estrela.png" />
                      </div>
                      <div class="_56-767">(600)</div>
                    </div>
                    <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                      TOZO T6 True Wireless Earbuds Bluetooth Headphon...
                    </div>
                    <div class="price">
                      <div class="_442-12">$70</div>
                    </div>
                  </div>
                  <div class="badge">
                    <div class="hot">HOT</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination">
              <div class="arrow-button3">
                <img class="regular-arrow-left" src="pasta de imagens/seta-para-a-esquerda.png" />
              </div>
              <div class="pages">
                <div class="pagination-item">
                  <div class="_01">01</div>
                </div>
                <div class="pagination-item2">
                  <div class="_012">02</div>
                </div>
                <div class="pagination-item2">
                  <div class="_012">03</div>
                </div>
                <div class="pagination-item2">
                  <div class="_012">04</div>
                </div>
                <div class="pagination-item2">
                  <div class="_012">05</div>
                </div>
                <div class="pagination-item2">
                  <div class="_012">06</div>
                </div>
              </div>
              <div class="arrow-button3">
                <img class="regular-arrow-right2" src="pasta de imagens/seta-para-a-direita.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="footer2">
            <div class="clicon-e-commerce">
              <div class="logo">
                <img class="icon2" src="icon1.svg" />
                <div class="clicon">CLICON</div>
              </div>
              <div class="contact-info">
                <div class="phone-number">
                  <div class="customer-supports">Contato para suporte:</div>
                  <div class="_629-555-0129">(629) 555-0129</div>
                </div>
                <div class="_4517-washington-ave-manchester-kentucky-39495">
                  4517 Washington Ave. Manchester, Kentucky 39495
                </div>
                <div class="info-kinbo-com">info@kinbo.com</div>
              </div>
            </div>
            <div class="top-category">
              <div class="top-category2">Melhores Categorias</div>
              <div class="item">
                <div class="footer-links">
                  <div class="electronics">Computador &amp; Laptop</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">SmartPhone</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">Headphone</div>
                </div>
                <div class="footer-links">
                  <div class="devider"></div>
                  <div class="electronics2">Acessórios</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">Camera &amp; Foto</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">TV &amp; Casa</div>
                </div>
                <div class="button6">
                  <div class="browse-all-product">Navegar Por Todos os Produtos</div>
                  <img class="regular-arrow-right3" src="regular-arrow-right2.svg" />
                </div>
              </div>
            </div>
            <div class="quick-links">
              <div class="quick-links2">Links rápidos</div>
              <div class="item">
                <div class="footer-links">
                  <div class="electronics">Comprar produto</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">Carrinho de compras</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">Lista de Desejo</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">Comparar</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">Rastrear Ordem</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">Ajuda ao cliente</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">Sobre Nós</div>
                </div>
              </div>
            </div>
            <div class="quick-links3">
              <div class="download-a-pp">Baixar App</div>
              <div class="links">
                <div class="mobile-app">
                  <div class="icon-google-play-1">
                    <img class="group" src="group0.svg" />
                  </div>
                  <div class="info2">
                    <div class="get-it-now">Consiga agora</div>
                    <div class="google-play">Google Play</div>
                  </div>
                </div>
                <div class="mobile-app">
                  <div class="apple-negative-1">
                    <img class="group2" src="group1.svg" />
                  </div>
                  <div class="info2">
                    <div class="get-it-now">Consiga agora</div>
                    <div class="app-store">App Store</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="popular-tag">
              <div class="popular-tag3">Tag Popular</div>
              <div class="tag">
                <div class="row">
                  <div class="tag4">
                    <div class="cooking3">Game</div>
                  </div>
                  <div class="tag4">
                    <div class="cooking3">iPhone</div>
                  </div>
                  <div class="tag4">
                    <div class="cooking3">TV</div>
                  </div>
                  <div class="tag4">
                    <div class="cooking3">Asus Laptops</div>
                  </div>
                </div>
                <div class="row">
                  <div class="tag4">
                    <div class="cooking3">Macbook</div>
                  </div>
                  <div class="tag4">
                    <div class="cooking3">SSD</div>
                  </div>
                  <div class="tag5">
                    <div class="cooking3">Graphics Card</div>
                  </div>
                </div>
                <div class="row">
                  <div class="tag4">
                    <div class="cooking3">Power Bank</div>
                  </div>
                  <div class="tag4">
                    <div class="cooking3">Smart TV</div>
                  </div>
                  <div class="tag4">
                    <div class="cooking3">Speaker</div>
                  </div>
                </div>
                <div class="row">
                  <div class="tag4">
                    <div class="cooking3">Tablet</div>
                  </div>
                  <div class="tag4">
                    <div class="cooking3">Microondas</div>
                  </div>
                  <div class="tag4">
                    <div class="cooking3">Samsung</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="copyright">
            <div class="kinbo-e-commerce-template-2021-design-by-templatecookie">
              Kinbo - eCommerce Template © 2021. Design by Templatecookie
            </div>
          </div>
        </div>
      </div>
      
    
</body>
</html>