<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="_16-sign-in">
        <div class="navigation">
            <div class="top-nav">
                <div class="welcome-to-clicon-online-e-commerce-store">
                    Welcome to Clicon online eCommerce store.
                </div>
                <div class="left-content">
                    <div class="follow-us">
                        <div class="follow-us2">Follow us:</div>
                        <div class="social-icon">
                            <img class="twitter" src="twitter0.svg" />
                            <a href="https://www.facebook.com/?locale=pt_BR"><img class="facebook" src="facebook.png" /></a>
                            <img class="pinterest" src="pinterest0.svg" />
                            <img class="reddit" src="reddit0.svg" />
                            <img class="youtube" src="youtube0.svg" />
                            <img class="instagram" src="instagram0.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle-nav">
                <div class="logo">
                    <img class="icon" src="icon0.svg" />
                    <div class="clicon">CLICON</div>
                </div>
                <div class="frame-18">
                    <input class="search-for-anything" type="text" placeholder="Search for anything...">
                    <div>
                        <img class="icon_pesquisa" src="lupa.png" width="20" height="20">
                    </div>
                </div>
                <div class="icons">
                    <div class="shopping-cart-simple">
                        <img class="vector" src="vector0.svg" />
                        <img class="vector2" src="vector1.svg" />
                        <img class="vector3" src="vector2.svg" />
                        <img class="vector4" src="vector3.svg" />
                        <div class="frame-182">
                            <div class="_2">2</div>
                        </div>
                    </div>
                    <img class="heart" src="heart0.svg" />
                    <img class="regular-user" src="regular-user0.svg" />
                </div>
            </div>
            <div class="bottom-nav">
                <div class="left-side">
                    <div class="category">
                        <div class="button">
                            <a href="#" class="label">All Category</a>
                            <img class="regular-caret-down3" src="regular-caret-down2.svg" />
                        </div>
                    </div>
                    <div class="track-order">
                        <img class="regular-map-pin-line" src="regular-map-pin-line0.svg" />
                        <a href="#" class="track-order2">Track Order</a>
                    </div>
                    <div class="compare">
                        <img class="duotone-arrows-counter-clockwise" src="duotone-arrows-counter-clockwise0.svg" />
                        <a href="#" class="compare2">Compare</a>
                    </div>
                    <div class="customer-support">
                        <img class="regular-headphones" src="regular-headphones0.svg" />
                        <a href="#" class="customer-support2">Customer Support</a>
                    </div>
                    <div class="need-help">
                        <img class="regular-info" src="regular-info0.svg" />
                        <a href="#" class="need-help2">Need Help</a>
                    </div>
                </div>
                <div class="call-now">
                    <img class="regular-phone-call" src="regular-phone-call0.svg" />
                    <div class="_1-202-555-0104">+1-202-555-0104</div>
                </div>
            </div>
        </div>
        <div class="breadcrumb">
            <div class="breadcumb">
                <img class="regular-house" src="regular-house0.svg" />
                <a href="#" class="home">Home</a>
                <img class="regular-caret-right" src="regular-caret-right0.svg" />
                <a href="#" class="shop-grid">User Account</a>
                <img class="regular-caret-right2" src="regular-caret-right1.svg" />
                <a href="#" class="behicle-accessories">Sign In</a>
            </div>
        </div>
        <div class="frame-395">
            <form class="login">
                <div class="bg"></div>
                <div class="from">
                    <div class="order-id">
                        <label class="email-address">Email Address</label>
                        <input class="input-field" type="email" required>
                    </div>
                    <div class="order-id">
                        <div class="box_olho">
                            <label class="password">Password</label>
                            <span id="olho" class="olho_aberto" onclick="mudarIcone()"></span>
                        </div>
                        <input id="input_senha" class="input-field" type="password" required>
                    </div>
                </div>
                <div>
                    <button class="button2">Sign in</button>
                </div>
                <div class="or-login-with">
                    <div class="don-t-have-account">
                        <div class="line-20"></div>
                        <div class="label3">
                            <div class="or">or</div>
                        </div>
                    </div>
                    <div class="login-register-with">
                        <a href="#" class="login-with-google">Login with Google</a>
                        <img class="google" src="google0.png" />
                    </div>
                    <div class="login-register-with">
                        <a href="#" class="login-with-apple">Login with Apple</a>
                        <img class="apple" src="apple0.svg" />
                    </div>
                </div>
                <div class="line-29"></div>
                <div class="tab">
                    <div class="tab2">
                        <a href="#" class="sign-in">Sign In</a>
                    </div>
                    <div class="tab3">
                        <a href="#" class="sign-in2">Sign Up</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="footer">
            <div class="footer2">
                <div class="clicon-e-commerce">
                    <div class="logo">
                        <img class="icon2" src="icon1.svg" />
                        <div class="clicon">CLICON</div>
                    </div>
                    <div class="contact-info">
                        <div class="phone-number">
                            <div class="customer-supports">Customer Supports:</div>
                            <a href="#" class="_629-555-0129">(629) 555-0129</a>
                        </div>
                        <div class="_4517-washington-ave-manchester-kentucky-39495">
                            4517 Washington Ave. Manchester, Kentucky 39495
                        </div>
                        <a href="#" class="info-kinbo-com">info@kinbo.com</a>
                    </div>
                </div>
                <div class="top-category">
                    <div class="top-category2">Top Category</div>
                    <div class="item">
                        <div class="footer-links">
                            <a href="#" class="electronics">Computer &amp; Laptop</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">SmartPhone</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Headphone</a>
                        </div>
                        <div class="footer-links">
                            <div class="devider"></div>
                            <div class="electronics2">Accessories</div>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Camera &amp; Photo</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">TV &amp; Homes</a>
                        </div>
                        <div class="button3">
                            <a href="#" class="browse-all-product">Browse All Product</a>
                            <img class="regular-arrow-right2" src="regular-arrow-right1.svg" />
                        </div>
                    </div>
                </div>
                <div class="quick-links">
                    <div class="quick-links2">Quick links</div>
                    <div class="item">
                        <div class="footer-links">
                            <a href="#" class="electronics">Shop Product</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Shoping Cart</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Wishlist</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Compare</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Track Order</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">Customer Help</a>
                        </div>
                        <div class="footer-links">
                            <a href="#" class="electronics">About Us</a>
                        </div>
                    </div>
                </div>
                <div class="quick-links3">
                    <div class="download-a-pp">Download APp</div>
                    <div class="links">
                        <div class="mobile-app">
                            <div class="icon-google-play-1">
                                <img class="group" src="group0.svg" />
                            </div>
                            <div class="info">
                                <div class="get-it-now">Get it now</div>
                                <a href="#" class="google-play">Google Play</a>
                            </div>
                        </div>
                        <div class="mobile-app">
                            <div class="apple-negative-1">
                                <img class="group2" src="group1.svg" />
                            </div>
                            <div class="info">
                                <div class="get-it-now">Get it now</div>
                                <a href="#" class="app-store">App Store</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-tag">
                    <div class="popular-tag2">Popular Tag</div>
                    <div class="tag">
                        <div class="row">
                            <div class="tag2">
                                <a href="#" class="cooking">Game</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">iPhone</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">TV</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">Asus Laptops</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="tag2">
                                <a href="#" class="cooking">Macbook</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">SSD</a>
                            </div>
                            <div class="tag3">
                                <a href="#" class="cooking">Graphics Card</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="tag2">
                                <a href="#" class="cooking">Power Bank</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">Smart TV</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">Speaker</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="tag2">
                                <a href="#" class="cooking">Tablet</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">Microwave</a>
                            </div>
                            <div class="tag2">
                                <a href="#" class="cooking">Samsung</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="kinbo-e-commerce-template-2021-design-by-templatecookie">
                    Kinbo - eCommerce Template © 2021. Design by Templatecookie
                </div>
            </div>
        </div>
    </div>
    <script src="login.js"></script>
</body>
</html>