<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DETAILS</title>
    <link rel="stylesheet" href="details.css">
</head>
<body>
    <div class="_08-product-detail">
        <div class="navigation">
            <div class="top-nav">
                <div class="welcome-to-clicon-online-e-commerce-store">
                    Welcome to Clicon online eCommerce store.
                </div>
                <div class="left-content">
                    <div class="follow-us">
                        <div class="follow-us2">Follow us:</div>
                        <div class="social-icon">
                            <img class="twitter" src="twitter0.svg" />
                            <img class="facebook" src="facebook0.svg" />
                            <img class="pinterest" src="pinterest0.svg" />
                            <img class="reddit" src="reddit0.svg" />
                            <img class="youtube" src="youtube0.svg" />
                            <img class="instagram" src="instagram0.svg" />
                        </div>
                    </div>
                    <div class="line-1"></div>
                    <div class="multi-language-drodpwon">
                        <div class="dropdown">
                            <div class="eng">Eng</div>
                            <img class="regular-caret-down" src="regular-caret-down0.svg" />
                        </div>
                    </div>
                    <div class="multi-currency-dropdown">
                        <div class="dropdown">
                            <div class="usd">USD</div>
                            <img class="regular-caret-down2" src="regular-caret-down1.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle-nav">
                <div class="logo">
                    <img class="icon" src="icon0.svg" />
                    <div class="clicon">CLICON</div>
                </div>
                <div class="frame-18">
                    <input class="search-for-anything" type="text" placeholder="Search for anything...">
                    <div>
                        <img class="icon_pesquisa" src="image/lupa.png" width="20" height="20">
                    </div>
                </div>
                <div class="icons">
                    <div class="shopping-cart-simple">
                        <img class="vector" src="vector0.svg" />
                        <img class="vector2" src="vector1.svg" />
                        <img class="vector3" src="vector2.svg" />
                        <img class="vector4" src="vector3.svg" />
                        <div class="frame-182">
                            <div class="_2">2</div>
                        </div>
                    </div>
                    <img class="heart" src="heart0.svg" />
                    <img class="regular-user" src="regular-user0.svg" />
                </div>
            </div>
            <div class="bottom-nav">
                <div class="left-side">
                    <div class="category">
                        <div class="button">
                            <div class="label">All Category</div>
                            <img class="regular-caret-down3" src="regular-caret-down2.svg" />
                        </div>
                    </div>
                    <div class="track-order">
                        <img class="regular-map-pin-line" src="regular-map-pin-line0.svg" />
                        <div class="track-order2">Track Order</div>
                    </div>
                    <div class="compare">
                        <img class="duotone-arrows-counter-clockwise" src="duotone-arrows-counter-clockwise0.svg" />
                        <div class="compare2">Compare</div>
                    </div>
                    <div class="customer-support">
                        <img class="regular-headphones" src="regular-headphones0.svg" />
                        <div class="customer-support2">Customer Support</div>
                    </div>
                    <div class="need-help">
                        <img class="regular-info" src="regular-info0.svg" />
                        <div class="need-help2">Need Help</div>
                    </div>
                </div>
                <div class="call-now">
                    <img class="regular-phone-call" src="regular-phone-call0.svg" />
                    <div class="_1-202-555-0104">+1-202-555-0104</div>
                </div>
            </div>
        </div>
        <div class="breadcrumb">
            <div class="breadcumb">
                <img class="regular-house" src="regular-house0.svg" />
                <div class="home">Home</div>
                <img class="regular-caret-right" src="regular-caret-right0.svg" />
                <div class="shop">Shop</div>
                <img class="regular-caret-right2" src="regular-caret-right1.svg" />
                <div class="shop-grid">Shop Grid</div>
                <img class="regular-caret-right3" src="regular-caret-right2.svg" />
                <div class="shop-grid">Electronics Devices</div>
                <img class="regular-caret-right4" src="regular-caret-right3.svg" />
                <div class="behicle-accessories">Macbook Pro</div>
            </div>
        </div>
        <div class="product-detail">
            <div class="product-preview">
                <img class="main-image" src="main-image0.png" />
                <div class="images">
                    <div class="photo">
                        <img class="_01" src="_010.png" />
                        <img class="_05" src="_050.png" />
                        <img class="_03" src="_030.png" />
                        <img class="_04" src="_040.png" />
                        <img class="_02" src="_020.png" />
                        <img class="_06" src="_060.png" />
                    </div>
                    <div class="arrow">
                        <div class="arrow-button">
                            <img class="regular-arrow-left" src="regular-arrow-left0.svg" />
                        </div>
                        <div class="arrow-button">
                            <img class="regular-arrow-right" src="regular-arrow-right0.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-detail2">
                <div class="product-content">
                    <div class="heading">
                        <div class="stars">
                            <div class="star">
                                <img class="regular-star" src="regular-star0.svg" />
                                <img class="regular-star2" src="regular-star1.svg" />
                                <img class="regular-star3" src="regular-star2.svg" />
                                <img class="regular-star4" src="regular-star3.svg" />
                                <img class="regular-star5" src="regular-star4.svg" />
                            </div>
                            <div class="_4-7-star-rating">4.7 Star Rating</div>
                            <div class="_21-671-user-feedback">(21,671 User feedback)</div>
                        </div>
                        <div
                            class="_2020-apple-mac-book-pro-with-apple-m-1-chip-13-inch-8-gb-ram-256-gb-ssd-storage-space-gray">
                            2020 Apple MacBook Pro with Apple M1 Chip (13-inch, 8GB RAM, 256GB
                            SSD Storage) - Space Gray
                        </div>
                    </div>
                    <div class="fun-fact">
                        <div class="row"></div>
                        <div class="row"></div>
                    </div>
                </div>
                <div class="prices">
                    <div class="price">
                        <div class="_1699">$1699</div>
                        <div class="_1999-00">$1999.00</div>
                    </div>
                    <div class="badge">
                        <div class="hot">21% OFF</div>
                    </div>
                </div>
                <div class="devider"></div>
                <div class="form">
                    <div class="row">
                        <div class="color">
                            <div class="color2">Color</div>
                            <div class="color3">
                                <div class="color4">
                                    <div class="_022"></div>
                                </div>
                                <div class="color5">
                                    <div class="_012"></div>
                                </div>
                            </div>
                        </div>
                        <div class="size">
                            <div class="size2">Size</div>
                            <div class="dropdown2">
                                <div class="good-morning">14-inch Liquid Retina XDR display</div>
                                <img class="regular-caret-down4" src="regular-caret-down3.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="size">
                            <div class="memory">Memory</div>
                            <div class="dropdown2">
                                <div class="good-morning">16GB unified memory</div>
                                <img class="regular-caret-down5" src="regular-caret-down4.svg" />
                            </div>
                        </div>
                        <div class="size">
                            <div class="storage">Storage</div>
                            <div class="dropdown2">
                                <div class="good-morning">1TV SSD Storage</div>
                                <img class="regular-caret-down6" src="regular-caret-down5.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <div class="button2">
                        <img class="duotone-minus" src="duotone-minus0.svg" />
                        <div class="_013">01</div>
                        <img class="duotone-plus" src="duotone-plus0.svg" />
                    </div>
                    <div class="button3">
                        <button class="label2">Add to card</button>
                        <img class="shopping-cart-simple2" src="shopping-cart-simple1.svg" />
                    </div>
                    <div class="button4">
                        <button class="label3">Buy now</button>
                    </div>
                </div>
                <div class="content">
                    <div class="button5">
                        <div class="add-to-wishlist">
                            <img class="heart2" src="heart1.svg" />
                            <div class="add-to-wishlist2">Add to Wishlist</div>
                        </div>
                        <div class="add-to-wishlist">
                            <img class="duotone-arrows-clockwise" src="duotone-arrows-clockwise0.svg" />
                            <div class="add-to-wishlist2">Add to Compare</div>
                        </div>
                    </div>
                    <div class="share-product">
                        <div class="share-product2">Share product:</div>
                        <div class="social-icon2">
                            <img class="regular-copy" src="regular-copy0.svg" />
                            <img class="facebook2" src="facebook1.svg" />
                            <img class="twitter2" src="twitter1.svg" />
                            <img class="pinterest2" src="pinterest1.svg" />
                        </div>
                    </div>
                </div>
                <div class="_100-guarantee-safe-c-heckout">
                    <div class="_100-guarantee-safe-checkout">
                        100% Guarantee Safe Checkout
                    </div>
                    <img class="payment-method" src="payment-method0.png" />
                </div>
            </div>
        </div>
        <div class="product-information">
            <div class="tab">
                <div class="line-18"></div>
                <div class="tab2">
                    <div class="description">Description</div>
                </div>
                <div class="tab3">
                    <div class="description2">Additional information</div>
                </div>
                <div class="tab4">
                    <div class="description2">Specification</div>
                </div>
                <div class="tab5">
                    <div class="description2">Review</div>
                </div>
            </div>
            <div class="content2">
                <div class="desciption">
                    <div class="description3">Description</div>
                    <div
                        class="the-most-powerful-mac-book-pro-ever-is-here-with-the-blazing-fast-m-1-pro-or-m-1-max-chip-the-first-apple-silicon-designed-for-pros-you-get-groundbreaking-performance-and-amazing-battery-life-add-to-that-a-stunning-liquid-retina-xdr-display-the-best-camera-and-audio-ever-in-a-mac-notebook-and-all-the-ports-you-need-the-first-notebook-of-its-kind-this-mac-book-pro-is-a-beast-m-1-pro-takes-the-exceptional-performance-of-the-m-1-architecture-to-a-whole-new-level-for-pro-users">
                        The most powerful MacBook Pro ever is here. With the blazing-fast M1
                        Pro or M1 Max chip — the first Apple silicon designed for pros — you
                        get groundbreaking performance and amazing battery life. Add to that a
                        stunning Liquid Retina XDR display, the best camera and audio ever in
                        a Mac notebook, and all the ports you need. The first notebook of its
                        kind, this MacBook Pro is a beast. M1 Pro takes the exceptional
                        performance of the M1 architecture to a whole new level for pro users.
                    </div>
                    <div
                        class="even-the-most-ambitious-projects-are-easily-handled-with-up-to-10-cpu-cores-up-to-16-gpu-cores-a-16-core-neural-engine-and-dedicated-encode-and-decode-media-engines-that-support-h-264-hevc-and-pro-res-codecs">
                        Even the most ambitious projects are easily handled with up to 10 CPU
                        cores, up to 16 GPU cores, a 16‑core Neural Engine, and dedicated
                        encode and decode media engines that support H.264, HEVC, and ProRes
                        codecs.
                    </div>
                </div>
                <div class="feature">
                    <div class="feature2">Feature</div>
                    <div class="frame-392">
                        <div class="badge2">
                            <img class="regular-medal" src="regular-medal0.svg" />
                            <div class="free-1-year-warranty">Free 1 Year Warranty</div>
                        </div>
                        <div class="badge2">
                            <img class="regular-truck" src="regular-truck0.svg" />
                            <div class="free-shipping-fasted-delivery">
                                Free Shipping &amp; Fasted Delivery
                            </div>
                        </div>
                        <div class="badge2">
                            <img class="regular-handshake" src="regular-handshake0.svg" />
                            <div class="_100-money-back-guarantee">
                                100% Money-back guarantee
                            </div>
                        </div>
                        <div class="badge2">
                            <img class="regular-headphones2" src="regular-headphones1.svg" />
                            <div class="_24-7-customer-support">24/7 Customer support</div>
                        </div>
                        <div class="badge2">
                            <img class="regular-credit-card" src="regular-credit-card0.svg" />
                            <div class="secure-payment-method">Secure payment method</div>
                        </div>
                    </div>
                </div>
                <div class="line-19"></div>
                <div class="shipping-information">
                    <div class="shipping-information2">Shipping Information</div>
                    <div class="content3">
                        <div class="courier">
                            <div class="courier2">Courier:</div>
                            <div class="_2-4-days-free-shipping">2 - 4 days, free shipping</div>
                        </div>
                        <div class="local-shipping">
                            <div class="local-shipping2">Local Shipping:</div>
                            <div class="up-to-one-week-19-00">up to one week, $19.00</div>
                        </div>
                        <div class="ups-ground-shippping">
                            <div class="ups-ground-shipping">UPS Ground Shipping:</div>
                            <div class="_4-6-days-29-00">4 - 6 days, $29.00</div>
                        </div>
                        <div class="inishop-global-export">
                            <div class="unishop-global-export">Unishop Global Export:</div>
                            <div class="_3-4-days-39-00">3 - 4 days, $39.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products">
            <div class="flash-sale-today">
                <div class="text">RELATED PRODUCT</div>
                <div class="product">
                    <img class="image" src="image0.png" />
                    <div class="content4">
                        <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                            Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...
                        </div>
                        <div class="price2">
                            <div class="_442-12">$1,500</div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <img class="image" src="image1.png" />
                    <div class="content4">
                        <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                            Simple Mobile 4G LTE Prepaid Smartphone
                        </div>
                        <div class="price2">
                            <div class="_442-12">$1,500</div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <img class="image" src="image2.png" />
                    <div class="content4">
                        <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                            4K UHD LED Smart TV with Chromecast Built-in
                        </div>
                        <div class="price2">
                            <div class="_442-12">$1,500</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="best-sellers">
                <div class="text">PRODUCT ACCESSORIES</div>
                <div class="product">
                    <img class="image" src="image3.png" />
                    <div class="content4">
                        <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                            Samsung Electronics Samsung Galexy S21 5G
                        </div>
                        <div class="price2">
                            <div class="_442-12">$1,500</div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <img class="image" src="image4.png" />
                    <div class="content4">
                        <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                            Simple Mobile 5G LTE Galexy 12 Mini 512GB Gaming Phone
                        </div>
                        <div class="price2">
                            <div class="_442-12">$1,500</div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <img class="image" src="image5.png" />
                    <div class="content4">
                        <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                            Sony DSCHX8 High Zoom Point &amp; Shoot Camera
                        </div>
                        <div class="price2">
                            <div class="_442-12">$1,500</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-arrival">
                <div class="text">APPLE PRODUCT</div>
                <div class="product">
                    <img class="image" src="image6.png" />
                    <div class="content4">
                        <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                            TOZO T6 True Wireless Earbuds Bluetooth Headpho...
                        </div>
                        <div class="price2">
                            <div class="_442-12">$1,500</div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <img class="image" src="image7.png" />
                    <div class="content4">
                        <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                            JBL FLIP 4 - Waterproof Portable Bluetooth Speaker...
                        </div>
                        <div class="price2">
                            <div class="_442-12">$1,500</div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <img class="image" src="image8.png" />
                    <div class="content4">
                        <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                            Wyze Cam Pan v2 1080p Pan/Tilt/Zoom Wi-Fi Indoor Smar...
                        </div>
                        <div class="price2">
                            <div class="_442-12">$1,500</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-rated">
                <div class="text">FEATURED PRODUCTS</div>
                <div class="product">
                    <img class="image" src="image9.png" />
                    <div class="content4">
                        <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                            Portable Wshing Machine, 11lbs capacity Model 18NMF...
                        </div>
                        <div class="price2">
                            <div class="_442-12">$1,500</div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <img class="image" src="image10.png" />
                    <div class="content4">
                        <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                            Sony DSCHX8 High Zoom Point &amp; Shoot Camera
                        </div>
                        <div class="price2">
                            <div class="_442-12">$1,500</div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <img class="image" src="image11.png" />
                    <div class="content4">
                        <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                            Dell Optiplex 7000x7480 All-in-One Computer Monitor
                        </div>
                        <div class="price2">
                            <div class="_442-12">$1,500</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer2">
                <div class="clicon-e-commerce">
                    <div class="logo">
                        <img class="icon2" src="icon1.svg" />
                        <div class="clicon">CLICON</div>
                    </div>
                    <div class="contact-info">
                        <div class="phone-number">
                            <div class="customer-supports">Customer Supports:</div>
                            <div class="_629-555-0129">(629) 555-0129</div>
                        </div>
                        <div class="_4517-washington-ave-manchester-kentucky-39495">
                            4517 Washington Ave. Manchester, Kentucky 39495
                        </div>
                        <div class="info-kinbo-com">info@kinbo.com</div>
                    </div>
                </div>
                <div class="top-category">
                    <div class="top-category2">Top Category</div>
                    <div class="item">
                        <div class="footer-links">
                            <div class="electronics">Computer &amp; Laptop</div>
                        </div>
                        <div class="footer-links">
                            <div class="electronics">SmartPhone</div>
                        </div>
                        <div class="footer-links">
                            <div class="electronics">Headphone</div>
                        </div>
                        <div class="footer-links">
                            <div class="devider2"></div>
                            <div class="electronics2">Accessories</div>
                        </div>
                        <div class="footer-links">
                            <div class="electronics">Camera &amp; Photo</div>
                        </div>
                        <div class="footer-links">
                            <div class="electronics">TV &amp; Homes</div>
                        </div>
                        <div class="button6">
                            <div class="browse-all-product">Browse All Product</div>
                            <img class="regular-arrow-right2" src="regular-arrow-right1.svg" />
                        </div>
                    </div>
                </div>
                <div class="quick-links">
                    <div class="quick-links2">Quick links</div>
                    <div class="item">
                        <div class="footer-links">
                            <div class="electronics">Shop Product</div>
                        </div>
                        <div class="footer-links">
                            <div class="electronics">Shoping Cart</div>
                        </div>
                        <div class="footer-links">
                            <div class="electronics">Wishlist</div>
                        </div>
                        <div class="footer-links">
                            <div class="electronics">Compare</div>
                        </div>
                        <div class="footer-links">
                            <div class="electronics">Track Order</div>
                        </div>
                        <div class="footer-links">
                            <div class="electronics">Customer Help</div>
                        </div>
                        <div class="footer-links">
                            <div class="electronics">About Us</div>
                        </div>
                    </div>
                </div>
                <div class="quick-links3">
                    <div class="download-a-pp">Download APp</div>
                    <div class="links">
                        <div class="mobile-app">
                            <div class="icon-google-play-1">
                                <img class="group" src="group0.svg" />
                            </div>
                            <div class="info">
                                <div class="get-it-now">Get it now</div>
                                <div class="google-play">Google Play</div>
                            </div>
                        </div>
                        <div class="mobile-app">
                            <div class="apple-negative-1">
                                <img class="group2" src="group1.svg" />
                            </div>
                            <div class="info">
                                <div class="get-it-now">Get it now</div>
                                <div class="app-store">App Store</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-tag">
                    <div class="popular-tag2">Popular Tag</div>
                    <div class="tag">
                        <div class="row2">
                            <div class="tag2">
                                <div class="cooking">Game</div>
                            </div>
                            <div class="tag2">
                                <div class="cooking">iPhone</div>
                            </div>
                            <div class="tag2">
                                <div class="cooking">TV</div>
                            </div>
                            <div class="tag2">
                                <div class="cooking">Asus Laptops</div>
                            </div>
                        </div>
                        <div class="row2">
                            <div class="tag2">
                                <div class="cooking">Macbook</div>
                            </div>
                            <div class="tag2">
                                <div class="cooking">SSD</div>
                            </div>
                            <div class="tag3">
                                <div class="cooking">Graphics Card</div>
                            </div>
                        </div>
                        <div class="row2">
                            <div class="tag2">
                                <div class="cooking">Power Bank</div>
                            </div>
                            <div class="tag2">
                                <div class="cooking">Smart TV</div>
                            </div>
                            <div class="tag2">
                                <div class="cooking">Speaker</div>
                            </div>
                        </div>
                        <div class="row2">
                            <div class="tag2">
                                <div class="cooking">Tablet</div>
                            </div>
                            <div class="tag2">
                                <div class="cooking">Microwave</div>
                            </div>
                            <div class="tag2">
                                <div class="cooking">Samsung</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="kinbo-e-commerce-template-2021-design-by-templatecookie">
                    Kinbo - eCommerce Template © 2021. Design by Templatecookie
                </div>
            </div>
        </div>
    </div>
</body>
</html>