<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" href="produto.css">
</head>
<body>
    <div class="_08-product-detail">
        <div class="navigation">
          <div class="top-nav">
            <div class="welcome-to-clicon-online-e-commerce-store">
              Bem-vindo à loja de comércio eletrônico online Clicon.
            </div>
            <div class="left-content">
              <div class="follow-us">
                <div class="follow-us2">Siga-nos:</div>
                <div class="social-icon">
                  <img class="twitter" src="img/icons8-twitter-24.png" />
                  <img class="facebook" src="img/icons8-facebook-novo-32.png" />
                  <img class="pinterest" src="img/icons8-pinterest-30.png" />
                  <img class="reddit" src="img/icons8-reddit-30.png" />
                  <img class="youtube" src="img/icons8-youtube-30.png" />
                  <img class="instagram" src="img/icons8-instagram-24.png" />
                </div>
              </div>
              <div class="line-1"></div>
              <div class="multi-language-drodpwon">
                <div class="dropdown">
                  <div class="eng">Eng</div>
                  <img class="regular-caret-down" src="img/icons8-para-baixo-com-quadrado-64.png" />
                </div>
              </div>
              <div class="multi-currency-dropdown">
                <div class="dropdown">
                  <div class="usd">USD</div>
                  <img class="regular-caret-down2" src="img/icons8-para-baixo-com-quadrado-64.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="middle-nav">
            <div class="logo">
              <img class="icon" src="/views/Details/img/logo_header copy.png" />
              <div class="clicon">CLICON</div>
            </div>
            <div class="frame-18">
              <input class="search-for-anything" placeholder="Search for anything...">
              <img
                src="img/icons8-pesquisar-24.png"
              />
            </div>
            <div class="icons">
              <div class="shopping-cart-simple">
                <img class="vector" src="img/icons8-carrinho-de-compras-32.png" />
                <div class="frame-182">
                  <div class="_2">2</div>
                </div>
              </div>
              <img class="heart" src="img/icons8-gostar-50.png" />
              <img class="regular-user" src="img/icons8-usuário-32.png" />
            </div>
          </div>
          <div class="bottom-nav">
            <div class="left-side">
              <div class="category">
                <div class="button">
                  <div class="label">Categorias </div>
                  <img class="regular-caret-down3" src="img/chevron-baixo.png" />
                </div>
              </div>
              <div class="track-order">
                <img class="regular-map-pin-line" src="img/placeholder.png" />
                <div class="track-order2">Rastrear pedido</div>
              </div>
              <div class="compare">
                <img
                  class="duotone-arrows-counter-clockwise"
                  src="img/retorna.png"
                />
                <div class="compare2">Compare</div>
              </div>
              <div class="customer-support">
                <img class="regular-headphones" src="img/fone-de-ouvido.png" />
                <div class="customer-support2">Suporte ao Cliente</div>
              </div>
              <div class="need-help">
                <img class="regular-info" src="img/icons8-info-50.png" />
                <div class="need-help2">Precisar de ajuda</div>
              </div>
            </div>
            <div class="call-now">
              <img class="regular-phone-call" src="img/icons8-volume-da-campainha-80.png" />
              <div class="_1-202-555-0104">+1-202-555-0104</div>
            </div>
          </div>
        </div>
        <div class="breadcrumb">
          <div class="breadcumb">
            <img class="regular-house" src="img/icons8-dog-house-48.png"/>
            <div class="home">Home</div>
            <img class="regular-caret-right" src="img/icons8-chevron-right-24.png" />
            <div class="shop">Shop</div>
            <img class="regular-caret-right2" src="img/icons8-chevron-right-24.png" />
            <div class="shop-grid">Shop Grid</div>
            <img class="regular-caret-right3" src="img/icons8-chevron-right-24.png" />
            <div class="shop-grid">Dispositivos Eletrônicos</div>
            <img class="regular-caret-right4" src="img/icons8-chevron-right-24.png" />
            <div class="behicle-accessories">Macbook Pro</div>
          </div>
        </div>
        <div class="product-detail">
          <div class="product-preview">
            <img class="main-image" src="/views/Details/img/NOT.png" />
            <div class="images">
              <div class="photo">
                <img class="_01" src="/views/Details/img/Produt1.png" />
                <img class="_05" src="/views/Details/img/PRODUT2.png" />
                <img class="_03" src="/views/Details/img/PRODUT3.png" />
                <img class="_04" src="/views/Details/img/PRODUT4.png" />
                <img class="_02" src="/views/Details/img/PRODUT5.png" />
                <img class="_06" src="/views/Details/img/PRODUT6.png" />
              </div>
              <div class="arrow">
                <div class="arrow-button">
                  <img class="regular-arrow-left" src="img/icons8-go-back-50.png" />
                </div>
                <div class="arrow-button">
                  <img class="regular-arrow-right" src="img/icons8-forward-button-50.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="product-detail2">
            <div class="product-content">
              <div class="heading">
                <div class="stars">
                  <div class="star">
                    <img class="regular-star" src="img/icons8-star-48.png" />
                    <img class="regular-star2" src="img/icons8-star-48.png" />
                    <img class="regular-star3" src="img/icons8-star-48.png" />
                    <img class="regular-star4" src="img/icons8-star-48.png" />
                    <img class="regular-star5" src="img/icons8-star-48.png" />
                  </div>
                  <div class="_4-7-star-rating">4.7 Star Rating</div>
                  <div class="_21-671-user-feedback">(21,671 User feedback)</div>
                </div>
                <div
                  class="_2020-apple-mac-book-pro-with-apple-m-1-chip-13-inch-8-gb-ram-256-gb-ssd-storage-space-gray"
                >
                  2020 Apple MacBook Pro with Apple M1 Chip (13-inch, 8GB RAM, 256GB
                  SSD Storage) - Space Gray
                </div>
              </div>
              <div class="fun-fact">
                <div class="row"></div>
                <div class="row"></div>
              </div>
            </div>
            <div class="prices">
              <div class="price">
                <div class="_1699">$1699</div>
                <div class="_1999-00">$1999.00</div>
              </div>
              <div class="badge">
                <div class="hot">21% OFF</div>
              </div>
            </div>
            <div class="devider"></div>
            <div class="form">
              <div class="row">
                <div class="color">
                  <div class="color2">Color</div>
                  <div class="color3">
                    <div class="color4">
                      <div class="_022"></div>
                    </div>
                    <div class="color5">
                      <div class="_012"></div>
                    </div>
                  </div>
                </div>
                <div class="size">
                  <div class="size2">Tamanho</div>
                  <div class="dropdown2">
                    <div class="good-morning">Tela Retina Líquida XDR de 14 polegadas</div>
                    <img class="regular-caret-down4" src="/views/Details/img/seta para baixo.png" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="size">
                  <div class="memory">Memória</div>
                  <div class="dropdown2">
                    <div class="good-morning">Memória unificada de 16 GB</div>
                    <img class="regular-caret-down5" src="/views/Details/img/seta para baixo.png" />
                  </div>
                </div>
                <div class="size">
                  <div class="storage">Armazenar</div>
                  <div class="dropdown2">
                    <div class="good-morning">Armazenamento SSD de 1 TV</div>
                    <img class="regular-caret-down6" src="/views/Details/img/seta para baixo.png" />
                  </div>
                </div>
              </div>
            </div>
            <div class="buttons">
              <div class="button2">
                <img class="duotone-minus" src="img/icons8-menos-24.png" />
                <div class="_013">01</div>
                <img class="duotone-plus" src="img/icons8-mais-24.png" />
              </div>
              <div class="button3">
                <div class="label2">Adicionar ao carrinho</div>
                <img class="shopping-cart-simple2" src="img/icons8-carrinho-de-compras-32.png" />
              </div>
              <div class="button4">
                <div class="label3">Comprar agora</div>
              </div>
            </div>
            <div class="content">
              <div class="button5">
                <div class="add-to-wishlist">
                  <img class="heart2" src="img/icons8-gostar-24.png" />
                  <div class="add-to-wishlist2">Adicionar à lista de desejos</div>
                </div>
                <div class="add-to-wishlist">
                  <img
                    class="duotone-arrows-clockwise"
                    src="img/retorna.png"
                  />
                  <div class="add-to-wishlist2">Adicionar para comparar</div>
                </div>
              </div>
              <div class="share-product">
                <div class="share-product2">Compartilhar produto:</div>
                <div class="social-icon2">
                  <img class="regular-copy" src="img/icons8-copiar-50.png" />
                  <img class="facebook2" src="img/icons8-facebook-novo-48.png" />
                  <img class="twitter2" src="img/icons8-twitter-50.png" />
                  <img class="pinterest2" src="img/icons8-pinterest-50.png" />
                </div>
              </div>
            </div>
            <div class="_100-guarantee-safe-c-heckout">
              <div class="_100-guarantee-safe-checkout">
              </div>
              <img class="payment-method" src="/views/Details/img/image.png"/>
            </div>
          </div>
        </div>
        <div class="product-information">
          <div class="tab">
            <div class="line-18"></div>
            <div class="tab2">
              <div class="description">Descrição</div>
            </div>
            <div class="tab3">
              <div class="description2">Informações adicionais</div>
            </div>
            <div class="tab4">
              <div class="description2">Especificação</div>
            </div>
            <div class="tab5">
              <div class="description2">Análise</div>
            </div>
          </div>
          <div class="content2">
            <div class="desciption">
              <div class="description3">Descrição</div>
              <div
                class="the-most-powerful-mac-book-pro-ever-is-here-with-the-blazing-fast-m-1-pro-or-m-1-max-chip-the-first-apple-silicon-designed-for-pros-you-get-groundbreaking-performance-and-amazing-battery-life-add-to-that-a-stunning-liquid-retina-xdr-display-the-best-camera-and-audio-ever-in-a-mac-notebook-and-all-the-ports-you-need-the-first-notebook-of-its-kind-this-mac-book-pro-is-a-beast-m-1-pro-takes-the-exceptional-performance-of-the-m-1-architecture-to-a-whole-new-level-for-pro-users"
              >
              O MacBook Pro mais poderoso de todos os tempos está aqui. Com o M1 extremamente rápido
              Chip Pro ou M1 Max – o primeiro silício da Apple projetado para profissionais – você
              obtenha desempenho inovador e incrível duração da bateria. Adicione a isso um
              impressionante tela Liquid Retina XDR, a melhor câmera e áudio de todos os tempos
              um notebook Mac e todas as portas que você precisa. O primeiro caderno de sua
              tipo, este MacBook Pro é uma fera. M1 Pro leva o excepcional
              desempenho da arquitetura M1 a um nível totalmente novo para usuários profissionais.
              </div>
              <div
                class="even-the-most-ambitious-projects-are-easily-handled-with-up-to-10-cpu-cores-up-to-16-gpu-cores-a-16-core-neural-engine-and-dedicated-encode-and-decode-media-engines-that-support-h-264-hevc-and-pro-res-codecs"
              >
              Mesmo os projetos mais ambiciosos são facilmente executados com até 10 CPUs
              núcleos, até 16 núcleos de GPU, um Neural Engine de 16 núcleos e dedicado
              codificar e decodificar mecanismos de mídia que suportam H.264, HEVC e ProRes
              codecs.
              </div>
            </div>
            <div class="feature">
              <div class="feature2">Recurso</div>
              <div class="frame-392">
                <div class="badge2">
                  <img class="regular-medal" src="/views/Details/img/Medal.png" />
                  <div class="free-1-year-warranty">Garantia gratuita de 1 ano</div>
                </div>
                <div class="badge2">
                  <img class="regular-truck" src="/views/Details/img/Truck.png" />
                  <div class="free-shipping-fasted-delivery">
                    Frete grátis &amp; Entrega mais rápida
                  </div>
                </div>
                <div class="badge2">
                  <img class="regular-handshake" src="/views/Details/img/handshake.png" />
                  <div class="_100-money-back-guarantee">
                    100% de garantia de devolução do dinheiro
                  </div>
                </div>
                <div class="badge2">
                  <img class="regular-headphones2" src="/views/Details/img/headphone.png" />
                  <div class="_24-7-customer-support">Suporte ao cliente 24 horas por dia, 7 dias por semana</div>
                </div>
                <div class="badge2">
                  <img class="regular-credit-card" src="/views/Details/img/Card.png" />
                  <div class="secure-payment-method">Método de pagamento seguro</div>
                </div>
              </div>
            </div>
            <div class="line-19"></div>
            <div class="shipping-information">
              <div class="shipping-information2">Informações de envio</div>
              <div class="content3">
                <div class="courier">
                  <div class="courier2">Correio:</div>
                  <div class="_2-4-days-free-shipping">2 a 4 dias, frete grátis</div>
                </div>
                <div class="local-shipping">
                  <div class="local-shipping2">Envio Local:</div>
                  <div class="up-to-one-week-19-00">até uma semana, $ 19,00</div>
                </div>
                <div class="ups-ground-shippping">
                  <div class="ups-ground-shipping">Envio Terrestre UPS:</div>
                  <div class="_4-6-days-29-00">4 - 6 days, $29.00</div>
                </div>
                <div class="inishop-global-export">
                  <div class="unishop-global-export">Exportação Global Unishop:</div>
                  <div class="_3-4-days-39-00">3 - 4 dias, $ 39,00</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="products">
          <div class="flash-sale-today">
            <div class="text">PRODUTO RELACIONADO</div>
            <div class="product">
              <img class="image" src="/views/Details/img/webcam.png" />
              <div class="content4">
                <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                  Fones de ouvido Bose Sport - Fones de ouvido sem fio - Bluetooth intra-auricular...
                </div>
                <div class="price2">
                  <div class="_442-12">$1,500</div>
                </div>
              </div>
            </div>
            <div class="product">
              <img class="image" src="/views/Details/img/celular.png" />
              <div class="content4">
                <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                  Smartphone pré-pago móvel simples 4G LTE
                </div>
                <div class="price2">
                  <div class="_442-12">$1,500</div>
                </div>
              </div>
            </div>
            <div class="product">
              <img class="image" src="/views/Details/img/kit mouse e teclado.png" />
              <div class="content4">
                <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                  Smart TV LED 4K UHD com Chromecast integrado
                </div>
                <div class="price2">
                  <div class="_442-12">$1,500</div>
                </div>
              </div>
            </div>
          </div>
          <div class="best-sellers">
            <div class="text">ACESSÓRIOS DO PRODUTO</div>
            <div class="product">
              <img class="image" src="/views/Details/img/Samsung Electronics Samsung Galexy S21 5G.jpg" />
              <div class="content4">
                <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                  Samsung Electronics Samsung Galexy S21 5G
                </div>
                <div class="price2">
                  <div class="_442-12">$1,500</div>
                </div>
              </div>
            </div>
            <div class="product">
              <img class="image" src="/views/Details/img/Simple Mobile 5G LTE Galexy 12 Mini 512GB Gaming Phone.jpg" />
              <div class="content4">
                <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                  Simple Mobile 5G LTE Galexy 12 Mini 512GB Gaming Phone
                </div>
                <div class="price2">
                  <div class="_442-12">$1,500</div>
                </div>
              </div>
            </div>
            <div class="product">
              <img class="image" src="/views/Details/img/Sony DSCHX8 High Zoom Point.jpg" />
              <div class="content4">
                <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                  Sony DSCHX8 High Zoom Point &amp; Shoot Camera
                </div>
                <div class="price2">
                  <div class="_442-12">$1,500</div>
                </div>
              </div>
            </div>
          </div>
          <div class="new-arrival">
            <div class="text">APPLE PRODUCT</div>
            <div class="product">
              <img class="image" src="/views/Details/img/TOZO T6 True Wireless Earbuds Bluetooth Headpho.png" />
              <div class="content4">
                <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                  TOZO T6 True Wireless Earbuds Bluetooth Headpho...
                </div>
                <div class="price2">
                  <div class="_442-12">$1,500</div>
                </div>
              </div>
            </div>
            <div class="product">
              <img class="image" src="/views/Details/img/JBL FLIP 4.png" />
              <div class="content4">
                <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                  JBL FLIP 4 - Waterproof Portable Bluetooth Speaker...
                </div>
                <div class="price2">
                  <div class="_442-12">$1,500</div>
                </div>
              </div>
            </div>
            <div class="product">
              <img class="image" src="/views/Details/img/Wyze Cam.png" />
              <div class="content4">
                <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                  Wyze Cam Pan v2 1080p Pan/Tilt/Zoom Wi-Fi Indoor Smar...
                </div>
                <div class="price2">
                  <div class="_442-12">$1,500</div>
                </div>
              </div>
            </div>
          </div>
          <div class="top-rated">
            <div class="text">PRODUTOS EM DESTAQUE</div>
            <div class="product">
              <img class="image" src="/views/Details/img/Portable Wshing.png" />
              <div class="content4">
                <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                  Portable Wshing Machine, 11lbs capacity Model 18NMF...
                </div>
                <div class="price2">
                  <div class="_442-12">$1,500</div>
                </div>
              </div>
            </div>
            <div class="product">
              <img class="image" src="/views/Details/img/Sony DSCHX8 High Zoom Point2.png" />
              <div class="content4">
                <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                  Sony DSCHX8 High Zoom Point &amp; Shoot Camera
                </div>
                <div class="price2">
                  <div class="_442-12">$1,500</div>
                </div>
              </div>
            </div>
            <div class="product">
              <img class="image" src="/views/Details/img/Dell Optiplex.png" />
              <div class="content4">
                <div class="canon-eos-1500-d-dslr-camera-body-18-55-mm">
                  Dell Optiplex 7000x7480 All-in-One Computer Monitor
                </div>
                <div class="price2">
                  <div class="_442-12">$1,500</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="footer2">
            <div class="clicon-e-commerce">
              <div class="logo">
                <img class="icon2" src="/views/Details/img/logo_footer.png" />
                <div class="clicon">CLICON</div>
              </div>
              <div class="contact-info">
                <div class="phone-number">
                  <div class="customer-supports">Suporte ao cliente:</div>
                  <div class="_629-555-0129">(629) 555-0129</div>
                </div>
                <div class="_4517-washington-ave-manchester-kentucky-39495">
                  4517 Washington Ave. Manchester, Kentucky 39495
                </div>
                <div class="info-kinbo-com">info@kinbo.com</div>
              </div>
            </div>
            <div class="top-category">
              <div class="top-category2">Categoria principal</div>
              <div class="item">
                <div class="footer-links">
                  <div class="electronics">Computador &amp; Portátil</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">SmartPhone</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">Fone de ouvido</div>
                </div>
                <div class="footer-links">
                  <div class="devider2"></div>
                  <div class="electronics2">Acessórios</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">Camera &amp; Foto</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">TV &amp; Casas</div>
                </div>
                <div class="button6">
                  <div class="browse-all-product">Navegar por todos os produtos</div>
                  <img class="regular-arrow-right2" src="regular-arro" />
                </div>
              </div>
            </div>
            <div class="quick-links">
              <div class="quick-links2">Links rápidos</div>
              <div class="item">
                <div class="footer-links">
                  <div class="electronics">Comprar produto</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">Carrinho de compras</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">Lista de desejos</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">Comparar</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">Rastrear pedido</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">Ajuda ao cliente</div>
                </div>
                <div class="footer-links">
                  <div class="electronics">Sobre nós</div>
                </div>
              </div>
            </div>
            <div class="quick-links3">
              <div class="download-a-pp">Baixar APP</div>
              <div class="links">
                <div class="mobile-app">
                  <div class="icon-google-play-1">
                    <img class="group" src="/views/Details/img/icons8-google-play-50.png" />
                  </div>
                  <div class="info">
                    <div class="get-it-now">Obtenha agora</div>
                    <div class="google-play">Google Play</div>
                  </div>
                </div>
                <div class="mobile-app">
                  <div class="apple-negative-1">
                    <img class="group2" src="/views/Details/img/icons8-mac-os-30.png" />
                  </div>
                  <div class="info">
                    <div class="get-it-now">Obtenha agora</div>
                    <div class="app-store">App Store</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="popular-tag">
              <div class="popular-tag2">Etiqueta popular</div>
              <div class="tag">
                <div class="row2">
                  <div class="tag2">
                    <div class="cooking">Game</div>
                  </div>
                  <div class="tag2">
                    <div class="cooking">iPhone</div>
                  </div>
                  <div class="tag2">
                    <div class="cooking">TV</div>
                  </div>
                  <div class="tag2">
                    <div class="cooking">Notebooks Asus</div>
                  </div>
                </div>
                <div class="row2">
                  <div class="tag2">
                    <div class="cooking">Macbook</div>
                  </div>
                  <div class="tag2">
                    <div class="cooking">SSD</div>
                  </div>
                  <div class="tag3">
                    <div class="cooking">Placa gráfica</div>
                  </div>
                </div>
                <div class="row2">
                  <div class="tag2">
                    <div class="cooking">Power Bank</div>
                  </div>
                  <div class="tag2">
                    <div class="cooking">Smart TV</div>
                  </div>
                  <div class="tag2">
                    <div class="cooking">Speaker</div>
                  </div>
                </div>
                <div class="row2">
                  <div class="tag2">
                    <div class="cooking">Tablet</div>
                  </div>
                  <div class="tag2">
                    <div class="cooking">Microwave</div>
                  </div>
                  <div class="tag2">
                    <div class="cooking">Samsung</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="copyright">
            <div class="kinbo-e-commerce-template-2021-design-by-templatecookie">
              Kinbo - eCommerce Template © 2021. Design by Templatecookie
            </div>
          </div>
        </div>
      </div>
      
</body>
</html>